@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//--------------------------------------------------
// Compass modules
//--------------------------------------------------

@import "compass/css3/transition";

html,
body {
	height: 100%;
}

table {
	width: 100%;
}

fieldset legend {
	background: transparent;
}

// Remove max-width from the wrapper row.
.wrapper {
	max-width: none;
	height: calc( 100% - #{($topbar-height * 2)} );
	overflow: auto;
}

#content {
	height: 100%;
	overflow: auto;
}

// Fix dashicons size inside h1.
h1 .dashicons {
	width: ($h1-font-size / 1.5 );
	height: ( $h1-font-size / 1.5 );
	font-size: ( $h1-font-size / 1.5 );
	line-height: ( $h1-font-size / 1.5 );
	vertical-align: middle;
}

.button.ghost {
	background-color: transparent !important;
	border: 1px solid darken( $secondary-color, 15% );
	&:hover,
	&:focus {
		background-color: lighten( $topbar-bg, 30% ) !important;
	}
}

#sidebar {
	background: $topbar-bg-color;
	padding: 0;
	height: 100%;
}
// Support submenus.
.side-nav {
	padding-top: 0;
	padding-bottom: 0;

	li {
		> a {
			padding: 1rem 0.5rem;
			color: $secondary-color !important;
			@include transition( background-color .1s ease-out 0 );

			&:hover,
			&:focus {
				background-color: $gray-warm;
				color: $primary-color !important;
			}
		}
	}

	ul {
		list-style-type: none;
		margin-left: 0;
		background: lighten( $topbar-bg-color, 7% );

		li {
			> a {
				padding-left: 1rem;

				&:hover,
				&:focus {
					background: $topbar-bg-color;
				}
			}
		}
	}
}