@import "settings";
@import "normalize";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//--------------------------------------------------
// Compass modules
//--------------------------------------------------

@import "compass/css3/transition";

html,
body {
	height: 100%;
}

table {
	width: 100%;

	.label-select {
		line-height: rem-calc(37);
	}
	select,
	button,
	.button {
		margin-bottom: 0;
	}
}

fieldset legend {
	background: transparent;
}

// Remove max-width from the wrapper row.
.wrapper {
	max-width: none;
	height: calc( 100% - #{($topbar-height * 2)} );
	overflow: auto;
}

#content {
	height: 100%;
	overflow: auto;
	padding-top:2rem;
}

// Fix dashicons size inside h1.
h1 .dashicons {
	width: ($h1-font-size / 1.5 );
	height: ( $h1-font-size / 1.5 );
	font-size: ( $h1-font-size / 1.5 );
	line-height: ( $h1-font-size / 1.5 );
	vertical-align: middle;
}
h2 .dashicons {
	width: ($h2-font-size / 1.5 );
	height: ( $h2-font-size / 1.5 );
	font-size: ( $h2-font-size / 1.5 );
	line-height: ( $h2-font-size / 1.5 );
	vertical-align: middle;
}

.button.ghost {
	background-color: transparent !important;
	border: 1px solid darken( $secondary-color, 15% );
	&:hover,
	&:focus {
		background-color: lighten( $topbar-bg, 30% ) !important;
	}
}

.top-bar-section {
	li:not(.has-form) {
		a:not(.button) {
			.dashicons {
				line-height: $topbar-height;
			}
		}
	}
}
#sidebar {
	background: $topbar-bg-color;
	padding: 0;
	height: 100%;
	overflow-y: auto;
}
// Support submenus.
.side-nav {
	padding-top: 0;
	padding-bottom: 0;

	li {
		margin: 0;
		> a {
			padding: 1rem 0.5rem;
			color: $secondary-color !important;
			@include transition( background-color .1s ease-out 0 );

			&:hover,
			&:focus {
				background-color: $gray-warm;
				color: $primary-color !important;
			}
		}
	}

	ul {
		list-style-type: none;
		margin-left: 0;
		background: lighten( $topbar-bg-color, 7% );

		li {
			> a {
				padding-left: 1rem;

				&:hover,
				&:focus {
					background: $topbar-bg-color;
				}
			}
		}
	}
}

/**
 * jQuery UI Timepicker
 */
.ui-timepicker-div {
	.ui-widget-header {
		margin-bottom: 8px;
	}
	dl {
		text-align: left;
		dt {
			float: left;
			clear: left;
			padding: 0 0 0 5px;
		}
		dd {
			margin: 0 10px 10px 45%;
		}
	}
	td {
		font-size: 90%;
	}
}
.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
.ui-timepicker-rtl {
	direction: rtl;
	dl {
		text-align: right;
		padding: 0 5px 0 0;
		dt {
			float: right;
			clear: right;
		}
		dd {
			margin: 0 45% 10px 10px;
		}
	}
}

.bottom-bar {
	@extend .top-bar;

	.text {
		color: $gray-light;
		padding: 0 1rem;
	}
}